.e-header {
  width: 100%;
  display: grid;
  grid-template-columns: 150px auto;
  background-color: #222;
  padding: 10px;
  box-sizing: border-box;
  grid-gap: 20px;
  margin-bottom: 10px;
}
.e-header .e-thumbnail {
  height: 150px;
}
.e-header .e-thumbnail img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.e-header .e-description {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.e-header .e-description input {
  margin-bottom: 5px;
}
.e-header .e-description textarea {
  color: #ccc;
  font-size: 16px;
  width: 100%;
  flex-grow: 1;
}

.e-image-area {
  background-color: #222;
  min-height: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-template-rows: auto auto;
  grid-gap: 4px;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
}
.e-image-area .placeholder {
  margin: auto;
  grid-row: 1/-1;
  grid-column: 1/-1;
}
.e-image-area .image {
  height: 100px;
  aspect-ratio: 16/9;
  margin: auto;
  display: flex;
  position: relative;
}
.e-image-area .image img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
.e-image-area .image div {
  position: absolute;
  right: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: darkred;
  cursor: pointer;
}

.e-content {
  background-color: #222;
  padding: 5px;
  margin-bottom: 10px;
}
.e-content .text-actions {
  height: 35px;
  width: 100%;
  background-color: #424242;
  border-radius: 2px;
  display: flex;
  flex-flow: row wrap;
  place-content: space-around;
}
.e-content .text-actions .left,
.e-content .text-actions .right {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.e-content .text-actions .left a,
.e-content .text-actions .right a {
  height: 100%;
  max-height: 100%;
  min-width: 50px;
  display: flex;
  border-radius: 2px;
  background-color: #333;
  box-sizing: border-box;
  cursor: pointer;
}
.e-content .text-actions .left a span,
.e-content .text-actions .right a span {
  margin: auto;
}
.e-content .text-actions .left a img,
.e-content .text-actions .right a img {
  margin: auto;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  color: white;
}
.e-content .text-actions .left {
  margin: 0 auto 0 0;
}
.e-content .text-actions .right {
  margin: 0 0 0 auto;
}
.e-content .text-actions a:hover,
.e-content .text-actions a:focus {
  filter: brightness(50%);
}
.e-content textarea {
  font-size: 16px;
  min-height: 200px;
  color: white;
  outline: 0;
}

.e-tags {
  min-height: 40px;
  width: 100%;
  background-color: #222;
  display: flex;
  flex-direction: row;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.e-tags input {
  width: 100%;
}

.e-settings {
  min-height: 40px;
  width: 100%;
  background-color: #222;
  display: flex;
  flex-direction: row;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.e-settings .publish-date {
  display: flex;
}
.e-settings .publish-date div {
  margin: auto 10px auto auto;
}
.e-settings .publish-date input {
  margin-right: 5px;
}
.e-settings input,
.e-settings textarea {
  width: 200px;
}
.e-settings .horizontal-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.e-settings .horizontal-buttons button {
  width: 200px;
  height: 40px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  background-color: black;
  color: white;
  font-size: 18px;
  resize: vertical;
}