.blog-admin {
  width: 100%;
  background-color: #222;
  margin-bottom: 20px;
  padding: 5px;
  box-sizing: border-box;
}
.blog-admin .horizontal-button-container a {
  background-color: #00367b;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.blog-entry {
  width: 100%;
  display: grid;
  grid-template-columns: 150px auto;
  grid-gap: 10px;
  margin-bottom: 10px;
}
.blog-entry .thumbnail {
  width: 150px;
}
.blog-entry .thumbnail img {
  height: 100%;
  width: 100%;
}
.blog-entry .blog-info .blog-title {
  font-size: 20px;
  border-bottom: 1px solid #9f9f9f;
  display: flex;
}
.blog-entry .blog-info .blog-title a {
  color: white;
  text-decoration: none;
}
.blog-entry .blog-info .blog-title .author {
  color: #9f9f9f;
  font-style: italic;
  margin-left: auto;
  font-size: 16px;
}
.blog-entry .blog-info .blog-description {
  color: #9f9f9f;
  margin-top: 10px;
}

.blog-entry:last-of-type {
  margin-bottom: inherit;
}