$quiet-text: #9f9f9f;

.blog-admin {
  width: 100%;
  background-color: #222;
  margin-bottom: 20px;
  padding: 5px;
  box-sizing: border-box;

  .horizontal-button-container {
    a {
      background-color: #00367b;
      color: white;
      text-decoration: none;
      padding: 5px 10px;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }
}

.blog-entry {
  width: 100%;
  display: grid;
  grid-template-columns: 150px auto;
  grid-gap: 10px;
  margin-bottom: 10px;

  .thumbnail {
    width: 150px;
    height: 150px;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .blog-info {
    display: flex;
    flex-direction: column;
    .blog-title {
      font-size: 20px;
      border-bottom: 1px solid $quiet-text;
      display: flex;
      a {
        color: white;
        text-decoration: none;
      }

      .author {
        color: $quiet-text;
        font-style: italic;
        margin-left: auto;
        font-size: 16px;
      }
    }
    .blog-description {
      color: $quiet-text;
      margin-top: 10px;
      max-height: 100px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      word-break: none;
      overflow: hidden;
      text-align: left;
    }

    .blog-action {
      display: flex;
      flex-direction: row;
      margin-top: auto;

      .date {
        font-size: 16px;
        color: gray;
        margin-right: auto;
      }
      a {
        color: white;
        font-style: italic;
      }
    }
  }
}

.blog-entry:last-of-type {
  margin-bottom: inherit;
}

@media screen and (max-width: 500px) {
  .page {
    .blog-entry {
      grid-template-columns: 75px auto;
      margin-bottom: 20px;
      .thumbnail {
        width: 75px;
        height: 75px;
      }
    }
  }
}
