body {
  margin: 0;
  background-color: #111;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background-color: #222;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
.header .left {
  margin: auto auto auto 0;
  font-size: 20px;
  height: 100%;
}
.header .left a {
  width: inherit;
}
.header .right {
  margin: auto 0 auto auto;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.header .right a:hover,
.header .right a:focus {
  background-color: #333;
}
.header a {
  height: 100%;
  width: 130px;
  margin: auto 0;
  display: flex;
  text-decoration: none;
  transition: background-color ease-in-out 0.1s;
}
.header a div {
  margin: auto;
  color: white;
}

button {
  background-color: #1c478a;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #122d57;
}

button.good,
a.good {
  background-color: #015b01;
}

button.yellow,
a.yellow {
  background-color: #4a4a00;
}

button.bad,
a.bad {
  background-color: #8e0000;
}

.page {
  width: 1000px;
  min-height: 10px;
  margin: 0 auto;
}
.page .horizontal-button-container {
  display: flex;
  flex-direction: row;
}
.page .horizontal-button-container button,
.page .horizontal-button-container a {
  width: 120px;
  min-height: 30px;
  text-decoration: none;
  display: flex;
  margin-right: 5px;
}
.page .horizontal-button-container button span,
.page .horizontal-button-container a span {
  margin: auto;
}
.page .horizontal-button-container button:last-of-type,
.page .horizontal-button-container a:last-of-type {
  margin-right: 0;
}
.page .blog-admin {
  margin-bottom: 10px;
}
.page .pagination {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}
.page .pagination a {
  height: 40px;
  width: 150px;
  margin-right: 5px;
  display: flex;
  text-decoration: none;
  background-color: #222;
}
.page .pagination a span {
  margin: auto;
  color: white;
  font-size: 20px;
}
.page .pagination a:last-of-type {
  margin-right: 0;
  margin-left: 5px;
}
.page .pagination a.disabled {
  filter: brightness(50%);
}
.page .pagination .page-list {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.page .pagination .page-list a {
  width: 40px;
  height: 40px;
  display: flex;
  text-decoration: none;
  background-color: #222;
  border-radius: 10px;
  margin: 0 10px 0 0;
}
.page .pagination .page-list a span {
  margin: auto;
  color: white;
}
.page .pagination .page-list a:first-of-type {
  margin: auto 10px auto auto;
}
.page .pagination .page-list a:last-of-type {
  margin: auto auto auto 0;
}
.page .pagination .page-list a.active {
  background-color: #993d00;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 1010px) {
  .page {
    width: 95%;
  }
}
.center-modal {
  margin: auto;
  width: 400px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  border-radius: 5px;
}
.center-modal .modal-title {
  text-align: center;
  font-size: 26px;
  margin-top: 10px;
}
.center-modal .input-line {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.center-modal .input-line div {
  margin-bottom: 5px;
  font-size: 18px;
}
.center-modal .input-line input {
  background-color: #0d0d0d;
  border: 0;
  padding: 5px;
  box-sizing: border-box;
  color: white;
}
.center-modal .horizontal-button-container {
  flex-direction: row-reverse !important;
}
.center-modal .horizontal-button-container * {
  width: 100% !important;
}
.center-modal .horizontal-button-container a,
.center-modal .horizontal-button-container button {
  color: white;
  display: flex;
  width: -moz-min-content;
  width: min-content;
}
.center-modal .horizontal-button-container a span,
.center-modal .horizontal-button-container button span {
  margin: auto;
  text-align: center;
}