.page .page-center {
  background-color: white;
  min-height: 100px;
  box-shadow: #0000001c 0 0px 5px;
  margin-top: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  width: 1080px;
  max-width: 1080px;
  flex-direction: column;
  border-radius: 5px;

  .page-title {
    text-align: center;
    font-size: 1.5rem;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    .title {
    }

    input {
      width: 100%;
      padding: 0.5rem;
      box-sizing: border-box;
      background-color: rgb(245, 245, 245);
      border: 1px solid gray;
      border-radius: 5px;
    }
    textarea {
      padding: 0.5rem;
      box-sizing: border-box;
      max-width: 100%;
      min-width: 100%;
      min-height: 5rem;
      background-color: rgb(245, 245, 245);
      border: 1px solid gray;
      //   border-radius: 5px;
    }
  }

  .side-by-side-info {
    display: flex;
    flex-direction: row;

    input {
      margin: 0 0.25rem;
    }

    .button {
      padding: 0.5rem;
      box-sizing: border-box;
      margin: auto;
    }
  }
}

.rich-text-editor {
  .controls {
    width: 100%;
    min-height: 10px;
    background-color: #dbd8d8;
    display: flex;
    flex-direction: row;

    a {
      box-sizing: border-box;
      margin: 0.1rem;
      cursor: pointer;
      background-color: #dbd8d8;
      display: flex;
      flex-direction: row;
      width: 2rem;
      height: 2rem;

      span {
        margin: auto;
      }
    }

    a:hover,
    a:focus {
      filter: brightness(80%);
    }

    .left {
      margin: 0 auto 0 0;
      height: 100%;
      display: flex;
      flex-direction: row;
    }

    .right {
      margin: 0 0 0 auto;
      display: flex;
      flex-direction: row;

      a {
        padding: 2px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;

        img {
          height: 20px;
          margin: auto;
        }
      }
    }
  }

  textarea {
    border-radius: 0 0 5px 5px;
  }
}
