<div class="blog-entry">
  <a src="#" class="thumbnail">
    <img src="<%= thumbnail %>" />
  </a>
  <div class="blog-info">
    <div class="blog-title"><a href="#"><%= title %></a> <a href="#" class="author">By: <%= author %></a></div>
    <div class="blog-description"><%= description %></div>
  </div>
</div>
