<div class="header">
  <div class="left">
    <a class="nav-button" href="/">
      <div><%= website_name %></div>
    </a>
  </div>
  <div class="right">
    <a class="nav-button" href="/blog">
      <div>Blog</div>
    </a>
    <% if (logged_in_user) { %>
    <a class="nav-button" href="/author/<%= logged_in_user.username %>">
      <div>Profile</div>
    </a>
    <% } else {%> <% if(!settings.HIDE_LOGIN) {%>
    <a class="nav-button" href="/login">
      <div>Login</div>
    </a>
    <% } %> <% } %>
  </div>
</div>
