<div class="header">
  <div class="left">
    <a class="nav-button" href="/">
      <div><%= website_name %></div>
    </a>
  </div>
  <div class="right">
    <a class="nav-button" href="/blog">
      <div>Blog</div>
    </a>
    <a class="nav-button" href="/projects">
      <div>Projects</div>
    </a>
  </div>
</div>
